@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-image:url(../Images/bgColour.jpg);
}

#display {
	margin: 10px auto;
	background:url(../Images/bg.jpg) no-repeat;
	width:1024px;
	height:505px;
	overflow:hidden;
	position:relative;
}

#canvas {
	position:absolute;
	border:#000 dashed 2px;
	z-index: 9;
}

.draggable {
	cursor:move;	
}

.editable {
	cursor:pointer;
}

div.step {
	display:none;
	width:1024px;
	margin: 5px auto 0;
}

div.box {
	height:256px;
	border: 3px solid #FC0;
	background-color:#FFF;
}

/* step1 */
#step1 div.box div {
	text-align:center;
	margin: 15px auto;
}

#step1 div.box div img {
	width:70px;
	display:block;
	margin: 0 auto;
}

#step1 div.box div p {
	margin: 0;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
}

/* step2 */
/* tab */

#tabMenu {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
	overflow:hidden;
}

#tabMenu li {
	float:right;
	height:32px;
	width:60px;
}

#tabMenu li img{
	display:block;
	margin:2px auto 0;
	cursor: pointer;
}

#tabMenu li.selected {
	border-radius: 10px 10px 0 0;
	background-color:#0F3;
}

.box div#text { background-color:#0F3;border-radius: 15px 15px 0 0;height: 170px;}
.box div#shape { background-color: #F63;border-radius: 15px 15px 0 0;height: 170px;}
.box div#paint { background-color:#CC0;border-radius: 15px 15px 0 0;height: 170px;}
.box div#border { background-color:#9F3;border-radius: 15px 15px 0 0;height: 170px;}

#tabMenu {
	background-color:#FFF;
}

.boxBody div.parent {
	display:none;
}
.boxBody div.show {
	display:block;
}

/* text */

#text {
	text-align:center;
	padding: 20px 0 0;
}

#text div.preview {
	height:107px;
	overflow:hidden;
}

#text p {
	display:inline-block;
	background-color:#FFF;
	font: 72px normal;
	color:#F00;
	margin: 0 auto;
	margin-top: 20px;
}

#text section {
	display:inline;
	margin: 0 10px;
}

#text div.content {
	margin-top: 10px;
}

/* shape */

#shape {
	text-align:center;
	padding: 20px 0 0;
}

#shape section {
	margin: 30px auto 10px;
}

#shape select {
	width: 100px;
	margin-right: 20px;	
}

#shape li[name="selected"] img {
	border: 2px solid #000;
}

/* paint */

#paint {
	text-align:center;
	padding: 20px 0 0;
}

#paint section {
	margin-bottom: 10px;
}

#paint section select {
	width: 100px;
}

#paint input {
	width: 20px;	
}

#paint input[name="selected"] {
	border: 2px solid #000;	
}

#paint section button[name="preview"] {
	margin-left: 20px;	
}

#paint canvas {
	width: 300px;
	height: 90px;
	background:#FFF;
	margin: 0;
	padding: 0;
}

#paint button[name="stop"] {
	display:none;	
}

#paint .i1{background-color:#000000;}
#paint .i2{background-color:#FF0000;}
#paint .i3{background-color:#80FF00;}
#paint .i4{background-color:#00FFFF;}
#paint .i5{background-color:#808080;}
#paint .i6{background-color:#FF8000;}
#paint .i7{background-color:#408080;}
#paint .i8{background-color:#8000FF;}
#paint .i9{background-color:#CCCC00;}

/* border */

#border {
	text-align:center;
	padding: 20px 0 0;
}

#border li[name="selected"] img {
	border: 2px solid #000;
}

#border section {
	margin: 30px auto 10px;
}


/* horizontal display */

.horizontalDisplay{ 
	width:700px; 
	margin:0 auto; 
	position:relative; 
	overflow:hidden;
}
	
.options{ 
	width:700px; 
	height:100px; 
	overflow:hidden;
}
	
.optionList{ 
	height:100px; 
	margin: 0; 
	padding: 0; 
	position:absolute;
}

.optionList li{ 
	background:#eee; 
	margin-right:13px; 
	padding:5px; 
	float:left; 
	list-style:none;
	border-radius:20px;
}

.optionList li img { 
	border:none;
	height: 84px;
	width: 154px;
}

.prev,.next{ 
	width:30px; 
	height:50px; 
	background: url(../Images/icon.png) no-repeat; 
	position:absolute; 
	top:25px; 
	z-index:99; 
	cursor:pointer;
	filter:alpha(opacity=70); 
	opacity:0.7;
}

.prev{ 
	background-position:0 -60px; 
	left:0px;
}

.next{ 
	background-position:0 0; 
	right:0px;
}

/* step3 */
#step3 div.box div {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 28px;
	font-style:italic;
	font-weight: 700;
}

#step3 div.box div img {
	vertical-align:middle;
	margin-right: 50px;
}

/* buttons */

div.step fieldset {
	margin-top:10px;
	text-align:center;
	border:none;
}

a.button {
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(219,87,5,1);
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 1em;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0px 4px 0px rgba(219,31,5,1), 0px 4px 20px rgba(0,0,0,.7);
	margin: 90px auto;
	width: 160px;
	text-align: center;		
	transition: all .1s ease;
}

#step1 a.button {
	margin-left: 800px;
}

#step2 a.button[name="previous"],#step3 a.button[name="previous"] {
	margin-left: 0px;
}

#step2 a.button[name="next"] {
	margin-left: 800px;
}

#step3 a.button[name="save"] {
	margin-left: 750px;
}

a.button:active {
	box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	position: relative;
	top: 6px;
}

body header img{
	margin-top: 30px;
	margin-bottom:10px;
	margin-left: 180px;
}

body footer {
	text-align:center;
	vertical-align:middle;
	background:#333;
	filter:alpha(opacity=70); 
	opacity:0.7;
	margin-top: 20px;
	color:#FFF;
}

body footer a {
	color:#FFF;
}