@charset "utf-8";
/* CSS Document */

#display {
	margin: 10px auto;
	background:url(../Images/bg.jpg) no-repeat;
	width:960px;
	height:600px;
	overflow:hidden;
	position:relative;
}

#canvas {
	position:absolute;
	border:#000 dashed 2px;
}

.draggable {
	cursor:move;	
}

div.step {
	display:none;
	width:960px;
	height:400px;
	margin: 20px auto 0;
}