@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

#display {
	margin: 10px auto;
	background:url(../Images/bg.jpg) no-repeat;
	width:1024px;
	height:600px;
	overflow:hidden;
	position:relative;
}

#canvas {
	position:absolute;
	border:#000 dashed 2px;
	z-index: 9;
}

.draggable {
	cursor:move;	
}

.editable {
	cursor:pointer;
}

div.step {
	display:none;
	width:1024px;
	height:400px;
	margin: 20px auto 0;
}

/* tab */

#tabMenu {
	margin:0;
	padding:0 0 0 15px;
	list-style:none;
	overflow:hidden;
}

#tabMenu li {
	float:left;
	height:32px;
	width:60px;
	cursor:hand
}

#tabMenu li img{
	display:block;
	margin:2px auto 0;
}

li.selected {
	background-color:#CCC;
	border-radius: 5px 5px 0 0;
}

.boxBody div.parent div.container {
	height: 200px;
}

.box {
	background-color:#CCC;
	height: 250px;	
}
#tabMenu {
	background-color:#FFF;
}

.boxBody div.parent {
	display:none;
}
.boxBody div.show {
	display:block;
}

div.step fieldset {
	margin-top:5px;
	text-align:center;
	border:none;
}

#text {
	text-align:center;
	padding: 20px 0;
}

#text div.preview {
	height:125px;
	overflow:hidden;
}

#text p {
	display:inline-block;
	background-color:#FFF;
	font: 18px normal;
	color:#F00;
	margin: 0 auto;
	margin-top: 60px;
}

#text section {
	display:inline;
	margin: 0 10px;
}

div.step fieldset {
	margin-top:10px;	
}

#paint {
	text-align:center;
	padding: 20px 0;
}

#paint section {
	margin-bottom: 10px;
}

#paint section select {
	width: 100px;
}

#paint input {
	width: 20px;	
}

#paint input[name="selected"] {
	border: 2px solid #000;	
}

#paint section button[name="preview"] {
	margin-left: 20px;	
}

#paint canvas {
	width: 300px;
	height: 100px;
	background:#FFF;
}

#paint button[name="stop"] {
	display:none;	
}

#paint .i1{background-color:#000000;}
#paint .i2{background-color:#FF0000;}
#paint .i3{background-color:#80FF00;}
#paint .i4{background-color:#00FFFF;}
#paint .i5{background-color:#808080;}
#paint .i6{background-color:#FF8000;}
#paint .i7{background-color:#408080;}
#paint .i8{background-color:#8000FF;}
#paint .i9{background-color:#CCCC00;}

/* buttons */
a.button {
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(219,87,5,1);
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 1em;
	padding: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	box-shadow: 0px 4px 0px rgba(219,31,5,1), 0px 4px 20px rgba(0,0,0,.7);
	margin: 90px 30px;
	width: 160px;
	text-align: center;		
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

#step1 a.button {
	font-size: 1.3em;
}

a.button:active {
	-webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	-moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	position: relative;
	top: 6px;
}
